<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Zane Kelley</a>
    <!-- Hamburger button for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications/">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
